test:
  stage: build
  script:
    - mvn -q clean install cobertura:cobertura pmd:pmd findbugs:findbugs checkstyle:checkstyle
    - bash add_comments.sh
    - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.example.com/api/v4/projects/34/trigger/pipeline
  tags:
    - mvn