<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <mirrors>
    <mirror>
      <id>matsuo.pl</id>
      <name>Matsuo</name>
      <url>http://matsuo.pl:8081/repository/maven-matsuo/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
  <servers>
    <server>
      <id>matsuo.pl</id>
      <username>maven-snapshot-publisher</username>
      <password>${matsuo.password}</password>
    </server>
  </servers>
</settings>
